<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Trains</h1>
    <form action="/trains" method="post">
      <label for="number"> Train number </label>
      <input type="text" name="number">
      <label for="type"> Train type </label>
      <input type="text" name="type">
      <input type="submit" value="create">

      <div class="">
        <ul>
          <% @trains_info.each do |line| %>
            <li>
              <%= line %>
            </li>
          <% end %>
        </ul>
      </div>
      <a href="/">Main</a>
    </form>
  </body>
</html>
